<div class="row" ng-controller="profileListController as vm">

    <div class="col-12">
        <div class="container">
            <form ng-submit="vm.search(frm)">
                <span class="flex margin-bottom-5">
                    <input class="k-rtl k-input base-input" type="text" placeholder="جستجو" ng-model="vm.searchKeyword">
                    <button style="width: 20%;" class="k-button" type="submit">جستجو</button>
                </span>
            </form>
        </div>
    </div>


    <div class="col-12">
        <div class="container">
            <span class="flex">
                <img style="padding: 10px; float:right; max-width: 200px; max-height: 200px; min-height: 80px; min-width: 80px; border: 1px solid #bbb"
                    ng-src="{{vm.profileData.image}}" />
                <p style="padding: 10px;"> {{vm.profileData.abstract}} </p>
            </span>
        </div>
    </div>

    <div class="col-7">
        <div class="container">
            <div id="sigma-container"></div>
        </div>
    </div>

    <div class="col-5">
        <div class="container">
            <div id="chart-elem" kendo-chart k-options="vm.chartOptions" style="height: 350px"></div>
        </div>
    </div>

    <div class="col-12">
        <div class="container">
            <div class="inline-division">
                <div class="card" ng-repeat="item in vm.profileData.listNews">
                    <img ng-src="item.image" />
                    <div class="content">
                        <span class="title">
                            <a href="#">{{item.topic}}</a>
                        </span>
                        <span class="resource">
                            {{item.agency}}
                        </span>
                        <span class="abstract">
                            {{item.headline}}
                        </span>
                        <span class="date">
                            {{item.formattedPublishDateTime}}
                        </span>
                    </div>
                </div>


            </div>

        </div>
    </div>

</div>