<div class="row" ng-controller="socialMediaController as vm">
    <div class="col-12">
        <div class="container">

            <ul id="social-select" kendo-button-group k-options="vm.buttonGroupOptions" ng-model="vm.socialSelect">
                <li id="1">تلگرام</li>
                <li id="2">سروش</li>
                <li id="3">فیسبوک</li>
                <li id="4">تویتر</li>
            </ul>
            <div class="flex">
                <div class="col-5">
                    <span class="flex">
                        <span class="info-title big">{{vm.infoData.title1}}</span>
                        <span class="info-title small">{{vm.infoData.value1}}</span>
                    </span>
                </div>
                <div class="col-5">
                    <span class="flex">
                        <span class="info-title big">{{vm.infoData.title2}}</span>
                        <span class="info-title small">{{vm.infoData.value2}}</span>
                    </span>
                </div>
                <div class="col-5">
                    <span class="flex">
                            <span class="info-title big">{{vm.infoData.title3}}</span>
                            <span class="info-title small">{{vm.infoData.value3}}</span>
                    </span>
                </div>
                <div class="col-5">
                    <span class="flex">
                            <span class="info-title big">{{vm.infoData.title4}}</span>
                            <span class="info-title small">{{vm.infoData.value4}}</span>
                    </span>
                </div>
            </div>
            <div class="clear"></div>

            <div class="col-12">
                <form ng-submit="vm.search(frm)">
                    <span class="flex margin-bottom-5">
                        <input class="k-rtl k-input base-input" style="padding: 0 !important" type="text" placeholder="جستجو"
                            ng-model="vm.searchKeyword">
                        <input style="width: 20%;" class="k-button" type="submit" value="جستجو"></button>
                    </span>
                </form>
            </div>

            <div class="col-12">
                <div class="inline-division">
                    <div class="card" ng-repeat="item in vm.listNews track by item.id">
                        <img src="../images/profile.png" />
                        <div class="content">
                            <span class="title">
                                <a href="#">{{item.title}}</a>
                            </span>
                            <span class="resource">
                                {{item.resource}}
                            </span>
                            <span class="abstract">
                                {{item.abstract}}
                            </span>
                            <span class="date">
                                {{item.date}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>
</div>